---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Paleoconservatism</h1>
		<p>
			Please note that this is a work in progress. The following is a draft of the concept of Paleoconservatism. It is a political ideology that is based on the idea of living in a society that is similar to the one that existed during the Paleolithic era. The idea is to create a society that is based on traditional values and that is free from the influence of modern technology and culture. The following is a brief overview of the key concepts of Paleoconservatism. Also technology is bad.
		</p>
		<center><img src="img/construction.gif" alt="Under construction" /></center>

		<ol>
			<li>
				About - philosophy embracing Tradition, Family, Faith
			</li>
			<li>
				Society - separated tribes 50-60 people, 1 territory, 1 chief (hunter), 1 shaman (gatherer), only exception to separation is trading between tribes (everybody is hunter or gatherer)
			</li>
			<li>
				Shared skills: herbary, sticks, stones, and mammoth skin processing (clothes, huts, bags), firewatch and clay processing (only allowed use of fire is food processing, pottery and mass destruction), string production (bows and arrows for hunters, nets for gatherers)
			</li>
			<li>
				Health - diet: perfectly balanced nutritions, ideally fruits, berries and mammoth steaks, healthy lifestyle caused by manual work in nature
			</li>
			<li>
				Nature - no pollution, no illnesses, plenty of resources
			</li>
			<li>
				Housing - ideally caves, huts from mammoth bones and skin are allowed
			</li>
		</ol>

		<p>
			"Traditional" conservatism - can allow metal processing, coinage, armory, however leads to evolvoing (for start with warrior class, but other things would appear soon, which is bad. Also allowing farming leads to storaging and protecting seeds, more inventions and potential of unhealthy accumulation of property obsession.
		</p>
		<p>
			Also all knowledge is a sin according to the parable of an apple in the Bible.
		</p>
	</body>
</html>
